@model IEnumerable<GestmetAsp.Models.JDTListe>

@{
    ViewBag.Title = "Encodade des prestations";
}

<h2>Index</h2>

<h4>@TempData["datedebut"]</h4>
<h4>@TempData["choixchantier"]</h4>

<p>
    @Html.ActionLink("Create New", "Create", new { choixchantier = @TempData["choixchantier"], datedebut = @TempData["datedebut"] }))
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonnelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PosteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateChantier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeuresProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoitPerso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZoneDepl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChefChantierId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumSemaine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstValide)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonnelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PosteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateChantier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeuresProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoitPerso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZoneDepl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChefChantierId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumSemaine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstValide)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id ,choixchantier= @TempData["choixchantier"],datedebut= @TempData["datedebut"] }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id, choixchantier = @TempData["choixchantier"], datedebut = @TempData["datedebut"] }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id, choixchantier = @TempData["choixchantier"], datedebut = @TempData["datedebut"] })
        </td>
    </tr>
}

</table>
